@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* TEST */
* {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input::placeholder {
  color: grey;
}

input:focus,
input:not(:placeholder-shown) {
  color: black;
}

textarea {
  resize: none;
  font-size: 1rem;
}

:root {
  --roc-color: #008fc3;
  --border-color: #aeaeae;
}

.appTab {
  display: none;
  background-color: transparent;
  padding: 40px;
  justify-content: center;
  align-items: center;

  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scrolling if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.appTab .appTabBody {
  width: 80vw;
  height: auto;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  overflow: hidden;
  margin: auto;
}

/* HEADER */
.appTabBody .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--roc-color);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 10px 20px;
}

.appTabBody .back {
  display: flex;
  justify-content: center;
  align-items: center;
}

.appTabBody .back img {
  width: 20px;
  aspect-ratio: 1/1;
}

.appTabBody .logo {
  width: 120px;
  aspect-ratio: 2.5/1;
}

.appTabBody .back {
  background-color: white;
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
  color: var(--roc-color);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* BODY */
.appBody {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: white;
  height: 100%;
  padding: 25px;
}

/* BODY LEFT SIDE */
.ceoDetails {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.ceoDetails .ceo {
  width: 140px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.ceoDetails .ceoName,
.ceoDetails .title {
  font-weight: 500;
  color: black;
  margin: 0;
}

.ceoDetails .ceoName {
  font-size: 1.5rem;
  margin-top: 40px;
}

.ceoDetails .title {
  font-size: 2.2rem;
  margin: 10px 0;
}

.ceoDetails .meetingInfo {
  color: var(--border-color);
  text-align: justify;
}

.ceoDetails .duration {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ceoDetails .googleMeeting {
  display: inline;
  align-items: center;
}

.ceoDetails .meetingIcon {
  width: 20px;
}

/* BODY RIGHT SIDE */
.appDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}

.appDetails form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.appDetails .asterisk {
  color: red;
}

.appDetails label {
  padding: 10px 0;
}

.appDetails .emailContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.appDetails .emailContainer > input:first-child {
  margin-bottom: 0 !important;
}

.appDetails .guestEmailContainer {
  display: flex;
  align-items: center;
}

.appDetails .guestEmailContainer input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0 !important;
}

.appDetails .deleteButton {
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  background-color: var(--roc-color);
  font-size: 1.2rem;
}

.appDetails input,
.appDetails select,
.appDetails #description {
  border: 0.5px solid var(--border-color);
  width: 100%;
  height: 35px;
  border-radius: 10px;
  margin-bottom: 15px !important;
}

.appDetails #addGuest {
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  justify-content: center;
  align-items: center !important;
  background-color: white;
  border: 0.5px solid var(--border-color);
  color: black;
  width: 120px;
  height: 20px;
  border-radius: 10px;
  gap: 5px;
  padding: 0;
}

.appDetails .dateTime {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px 0 10px 0;
}

.appDetails .dateTime input {
  margin-top: 10px;
}

.appDetails .dateTime input,
.appDetails .dateTime select {
  cursor: pointer;
}

.appDetails #description {
  height: 120px;
  padding: 10px;
}

.appDetails .cmdBtns {
  display: flex;
  gap: 15px;
}

.appDetails .cmdBtns button {
  border-radius: 10px;
}

.appDetails .submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--roc-color);
  border: none;
}

.appDetails .bookingIcon {
  width: 20px;
}

.appDetails .cancelBtn {
  background-color: white;
  color: black;
  border: 0.5px solid var(--border-color);
}

.appDetails .bookingReminder {
  color: var(--border-color);
  font-weight: 400;
  margin-top: 15px;
}

.appDetails .bookingReminder span {
  color: var(--roc-color);
  cursor: pointer;
}

/* SCHEDULED APPOINTMENT */
.scheduledAppointment {
  display: none;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  gap: 20px;
}

.scheduledAppointment img {
  width: 80px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.scheduledAppointment .scheduledAppointmentBtns {
  display: flex;
  gap: 15px;
}

.scheduledAppointment button {
  background-color: white;
  border: 0.5 solid;
  border-color: var(--border-color) !important;
  border-radius: 10px;
  color: black;
  transition: background-color 0.15s, color 0.15s, border 0.15s;
}

.scheduledAppointment button:hover {
  background-color: var(--roc-color);
  color: white;
  border: none;
}

/* NOTE: MODALS */
/* POLICIES MODAL */
.policiesModal {
  display: none;
  margin-top: 15px;
  background-color: #e9ecef;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.policiesModal h1 {
  color: black;
  margin-bottom: 20px;
}

.policiesModal h4 {
  color: black;
  margin: 0;
}

.policiesModal p {
  font-weight: normal;
}

.policiesModal.active {
  display: block;
}

/* TIME INPUT */
.flatpickr-calendar {
  display: block !important;
}

.flatpickr-calendar:nth-of-type(3) {
  width: 150px !important;
}

.numInputWrapper:nth-of-type(2) {
  display: none;
}

.flatpickr-time-separator {
  display: none !important;
}

.flatpickr-minute {
  display: none !important;
}

/* BOOKED MODAL */
/* #bookedModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.bookedModal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */

/* MEDIA QUERIES */
/* Smaller smartphones */
@media only screen and (max-width: 481px) {
  textarea {
    font-size: 0.9rem;
  }

  footer {
    margin: 0 auto;
    text-align: center;
  }

  .appBody {
    display: flex !important;
    flex-direction: column;
    padding: 0 !important;
    padding-bottom: 25px !important;
  }

  .ceoDetails {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 80%;
    align-items: center;
  }

  .ceoDetails .ceoName {
    margin-top: 15px;
  }

  .ceoDetails .title {
    text-align: center;
  }

  .ceoDetails .duration {
    justify-content: center;
  }

  .appDetails .dateTime {
    display: flex !important;
    flex-direction: column !important;
    gap: 10px;
    margin-top: 15px;
  }

  .appDetails input,
  .appDetails select,
  .appDetails #description {
    margin-bottom: 5px !important;
  }

  .appDetails .cmdBtns {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  .policiesModal h1,
  .policiesModal .modal-content h4,
  .policiesModal .modal-content p {
    text-align: center;
  }

  .scheduledAppointment {
    padding-top: 25px !important;
  }

  .scheduledAppointment .scheduledAppointmentBtns {
    flex-direction: column;
  }
}

/* Tablets and larger smartphones */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  textarea {
    font-size: 0.9rem;
  }

  .appBody {
    display: flex !important;
    flex-direction: column !important;
    height: 100%;
    padding: 25px 15px !important;
  }

  .ceoDetails {
    margin: 0 auto !important;
    display: grid !important;
    grid-template-columns: 1fr 2fr !important;
    width: 80%;
    gap: 20px;
  }

  .ceoDetails .ceo {
    width: 90px;
  }

  .ceoDetails .profile-info {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .ceoDetails .ceoName {
    margin: 0;
    font-size: 1rem;
  }

  .ceoDetails .title {
    font-size: 1.7rem;
  }

  .ceoDetails .meetingInfo {
    font-size: 0.5rem;
  }

  .ceoDetails .meetingInfo p {
    margin: 5px 0;
  }

  .scheduledAppointment .scheduledAppointmentBtns {
    flex-direction: column;
  }
}

/* Laptops, larger tablets in landscape, and small desktops */
@media only screen and (min-width: 769px) and (max-width: 1279px) {
}

/* Larger desktops and monitors */
@media only screen and (min-width: 1280px) {
}
